@font-face {
	font-family: Forum;
	src: url("fonts/Forum-Regular.ttf") format("truetype");
}
@font-face {
	font-family: Ampir;
	src: url("fonts/Ampir Deco.ttf") format("truetype");
}
@font-face {
	font-family: Bernier;
	src: url("fonts/BERNIERShade-Regular.otf") format("opentype");
}
@font-face {
	font-family: Marta;
	src: url("fonts/Marta_Regular.otf") format("opentype");
}
@font-face {
	font-family: Aqua;
	src: url("fonts/ar_Aquaguy.otf") format("opentype");
}

body {
	margin:0;
	width: 0; 
        width: 100%;
}
.cards {
	width: 200mm;
}
.card {
    display: inline-block;
    vertical-align: top;
	font-family: Ampir; 
	height: 88mm;
	width: 63mm;
	background-size: 63mm ;
	padding: 2.2mm 2.2mm;
	box-sizing: border-box;
        border-bottom: 2px solid #fff;
	margin-right: 1px;
	position: relative;

}
.card.back {}
.title {
	font-size: 4mm;
	line-height: 4mm;
	padding: 0.5mm; 
	font-family: Bernier; 
	min-height: 5mm;
	border-radius: 2mm 2mm 0 0;
	text-align: center;
	box-sizing:border-box ;
	background-color: #FFF;
        background-image: url('../pics/paper-background.png');
}
.level {
	line-height: 0.85mm;
	font-size: 2.0mm;
	padding: 0.5mm; 
	font-family: Forum; 
	height: 2.1mm;
	text-align: center;
	box-sizing:border-box ;
	color: #FFF;

	background-color: #999;
}
.props {
	border: none;
	text-align: center;
	height: 15.5mm;
	width: 100%;
}
.prop {
	width: 50%;
	height: 7.9mm;
	float: left;
	box-sizing:border-box ;
}
.prop:first-child {
	border-right: 1px solid;
}
.prop + .prop {
	border-left: 1px solid;
}
.prop + .prop + .prop {
	border-left: none;
	border-right: 1px solid;
	border-top: 2px solid;
}
.prop + .prop + .prop + .prop {
	border-right: none;
	border-left: 1px solid;
}
.propName {
	line-height: 4mm;
        /*background-image: url('../pics/paper-background.png');*/
	font-size: 2.6mm;
	height: 4mm;
	background-color: #eee8aa;
	color: #000;
}
.propValue {
	line-height: 3.5mm;
        /*background-image: url('../pics/paper.png');*/
	font-size: 2.8mm;
	height: 4mm;
	background-color: #eee8aa;
}
.text {
	height: 56mm;
        background-image: url('../pics/paper.png');
	border-radius: 0 0 2mm 2mm ;
        font-family: Marta;
	box-sizing:border-box;
	position: relative;
	background-color: #fff;
	font-weight: normal;
}
.text.bigName {
	height: 52mm;
}
.text p {
	font-size: 2.3mm;
	line-height: 2.3mm;
	padding: 0 1.9mm; 
	margin: 0mm; 
	margin-top: 1.3mm; 	
	margin-bottom: 1.3mm; 
}

.text.small p{
    margin-top: 1mm;
    margin-bottom: 1mm;
}
.text p:first-child {
	margin-top: 2.7mm; 	
}
.text p:last-child {
	margin-bottom: 2.0mm; 	
}

.higherLevels {
    position: absolute;
    bottom: 0px;
    width: 100%;
}
 p.first {
	margin-top: 2.0mm; 	
}
.higherLevels p:last-child {
	margin-bottom: 2.0mm; 	
}
.footer {
	line-height: 7mm;
	font-size: 3.7mm;
	height: 7mm;
	color: #FFF;
}

.card .number {
    position: absolute;
    bottom: 13px;
    left: 25px;
    font-weight: bold;
    font-size: 60px;
    width: 35px;
    text-align: center;
}
.card .number2 {
    -moz-transform: rotate(180deg); /* Для Firefox */
    -ms-transform: rotate(180deg); /* Для IE */
    -webkit-transform: rotate(180deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(180deg); /* Для Opera */
    transform: rotate(180deg);

    position: absolute;
    font-weight: bold;
    font-size: 60px;
    width: 35px;
    text-align: center;

    top: 13px;
    right: 25px;
}